@import 'preview'
@import 'stats'
@import 'mini_boat'

#summary
    float                   right
    height                  100%
    width                   40%
    overflow                hidden
    background              url($dirt) repeat
    box-shadow              -2px 0 0 $white