@import 'preview'
@import 'stats'

#overview
    float                   right
    height                  100%
    width                   40%
    overflow                hidden
    background              url($dirt) repeat
    box-shadow              -2px 0 0 $white
    
    iframe
        margin: 20px
        float: right
    