#stats
    margin              20px 20px 100px 20px
    text-align          left
    font-size           130%
    h2
        margin-bottom   25px
        padding         10px
        background-color $white
        text-align      center          
        font-size       300%
        color           $brown
        box-shadow      5px 5px 0 rgba(255,255,255,.5)
    .stat
        box-shadow      5px 5px 0 rgba(255,255,255,.5)
        background-color $white
        padding         5px 10px
        margin-bottom   10px
    .key
        display         inline-block
        font-weight     bold
        width           40%
        color           $brown
        margin-right    20px
    .value
        font-style      italic
        color           $brown