@keyframes row_ore
    0%
        transform   rotateZ(0)
    25%
        transform   rotateZ(50deg)
    50%
        transform   rotateZ(0)
    75%
        transform   rotateZ(-50deg)
    100%  
        transform   rotateZ(0)

@keyframes lose_ore
    
    0%
        opacity     1
        transform   rotateZ(0)
    25%
        opacity     .75
        transform   rotateZ(360deg)
    50%
        opacity     .5
        transform   rotateZ(0)
    75%
        opacity     .25
        transform   rotateZ(360deg)
    100%
        opacity     0
        transform   rotateZ(0)