@keyframes row_ore
    0%
        transform   rotateZ(0)
    25%
        transform   rotateZ(50deg)
    50%
        transform   rotateZ(0)
    75%
        transform   rotateZ(-50deg)
    100%  
        transform   rotateZ(0)