@import 'nib'
@import 'animation'
@import 'globals'
@import 'boat'

body, html
  height 100%

body
  font normal 1em sans-serif
  background linear-gradient(top, #eee, #fff)
  text-align center

body.water
  background  url('/images/water.gif') repeat