@import 'nib'
@import 'animation'
@import 'globals'

@import 'watch'
@import 'overview'

body, html
  height 100%

 h1, h2, h3, h4, h5, h6, span, div
  font-family 	'Silkscreen'

body
  font normal 1em sans-serif
  background linear-gradient(top, #eee, #fff)
  text-align center