.spark
    position    absolute
    transition  1s all ease-out
    width       100px
    height      100px

    &.spark_0
        background-color red
    &.spark_1
        background-color green
    &.spark_2
        background-color yellow
    &.spark_3
        background-color blue

    &.explode
        opacity          0
        background-color white