$blue               = #0b4957
$red                = #ab1a25
$red2               = #d34b55
$orange             = #d97925
$orange2            = #ea9144
$white              = #efe7be
$white2             = #ffffff
$grey               = rgb(100,100,100)

$dirt               = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAO0lEQVQYV2P00hP9zwAEDsrcIIrhwN2vYBqdz0i0wq5ABbCJuEyCmcxItEKirSZaIdFWE62QaKuJVQgAji1NO0/1Ts0AAAAASUVORK5CYII='
$trees              = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATUlEQVQYV2MUzlP9z4ADWEcyMBxdDpFkxKYQpAAGsCpEVoBVITYFGAr9jmN3o/mkF3Dr+0QlIG4kykRkzxB0I3roEPQ1Ng14wxFb+AMAfi4jfXbBivAAAAAASUVORK5CYII='
$trees_upright      = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAYklEQVQYV2MUzlP9z4AErCMZGI4uRxaBsBmRFYIUwQC6YtIVIpuGzVS4iUQpxKYI3VSwicgKzSe9YDiZJ4HhKUa/46jBg64QpAMUAii+BgkWvX7B0CeKMBFmNIZCzKCGiAAAI1spfZYeoksAAAAASUVORK5CYII='
$water              = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAAPklEQVQYV2NkQAOMJg7//585wIghjiwAU4RNMVwnuiQGH2QiTuuQnMGISxHMSXDnoDsaGx+kGMN3uDQSrRAA3GUlfaDT8J4AAAAASUVORK5CYII='
$water2             = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAICAYAAADA+m62AAAALElEQVQYV2NkIBIwEqmOYaAVMpo4/P9/5gCKM9DFGGECIBrZYyCNyGJEewYAuVoRfVYO7gkAAAAASUVORK5CYII='
$red_pattern        = 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHklEQVQIW2NkwAIYsQoeMLX/D5NwOH0QrAi7SmzaAd4IBAZXkxVSAAAAAElFTkSuQmCC'

.btn
    background-color $red
    padding         5px
    color           $white
    display         inline-block
    background      $red url($red_pattern) repeat
    box-shadow      3px 3px 0 $red2
    text-decoration none