body#login

    section.main
        height          100%
        width           960px
        margin          50px auto

        .right
            float       right
            width       50%

            .explain
                margin-bottom   35px
                color           $white
                line-height     130%
                font-size       150%
                text-shadow     2px 2px 0 black
                p
                    margin-bottom 30px
            .login
                margin-bottom   50px
            .btn
                box-shadow      5px 5px 0 $red2
                margin-top      2px
                float           right
                font-size       300%
                margin-right    100px
            input
                width           50%

        .left
            width       40%
            float       left

            h2
                color       $white
                font-size   200%
                margin-bottom 20px

            .current_races,
            .current_teams
                background  $white
                box-shadow  5px 5px 0 rgba(255,255,255,.5)
                padding     10px
                margin-bottom 80px

                .race,
                .team
                    margin-bottom 20px
                    font-size 120%
                    &:last-child
                        margin-bottom 0
                    overflow hidden
                .name
                    margin-bottom 3px
                .location
                    font-style italic
                    font-size 80%
                .code
                    color   $red
                    font-size 80%
                .btn
                    float   right
                    margin-right 10px

header
    
    position                relative

    .ore
        position            absolute
        right               75px
        top                 40px
        width               150px
        height              25px
        transform-origin    20% 100%
        animation           row_bro 1.5s ease-in infinite

        .handle
            position        absolute
            left            0
            top             10px
            width           100px
            height          6px
            background      $red url($red_pattern) repeat
            box-shadow      2px 2px 0 $red2

        .paddle
            right           0
            top             0
            position        absolute
            width           50px
            height          25px
            background      $red url($red_pattern) repeat
            box-shadow      2px 2px 0 $red2

        &:first-child
            left            75px
            right           auto
            transform-origin    80% 0%
            animation       row_bro_backwards 1.5s ease-in infinite
            .handle
                left        auto
                right       0
            .paddle
                left        0
                right       auto