body#login

    section.main
        height          100%
        width           960px
        margin          50px auto

        .right
            float       right
            width       50%

            .explain
                margin-bottom 35px
                color       $white
                line-height 130%
                font-size   150%
                text-shadow 2px 2px 0 black
                p
                    margin-bottom 30px
            .login
                margin-bottom  50px
            .btn
                font-size 250%
                float   right
            input
                width   50%

        .left
            width       40%
            float       left

            h2
                color       $white
                font-size   200%
                margin-bottom 20px

            .current_races,
            .current_teams
                background  $white
                box-shadow  5px 5px 0 rgba(255,255,255,.5)
                padding     10px
                margin-bottom 80px

                .race,
                .team
                    margin-bottom 20px
                    font-size 120%
                    &:last-child
                        margin-bottom 0
                    overflow hidden
                .name
                    margin-bottom 3px
                .location
                    font-style italic
                    font-size 80%
                .code
                    color   $red
                    font-size 80%
                .btn
                    float   right
                    margin-right 10px

header

    .ore
        position            absolute
        right               0
        top                 17px
        width               150px
        height              150px
        &:first-child
            left            0
            right           auto

        .handle
            position        absolute
            width           75px
            height          6px
            background      $red url($red_pattern) repeat
            box-shadow      2px 2px 0 $red2
        .paddle
            position        absolute
            margin-left     -35px
            margin-top      -5px
            width           45px
            height          25px
            background      $red url($red_pattern) repeat
            box-shadow      2px 2px 0 $red2