body#remote

    h1
        font-size   300% !important

    section.main
        margin      20px auto
        width       80%
        text-align  center

    h2
        color       $white
        font-size   120%

    .code
        display     block
        color       $red
        margin      20px 0
        font-size   150%

    p
        color       $white
        margin-bottom: 20px
        &.reminder
            font-size   250%
    footer
        display     none

    .btn
        font-size   250%

    .playing .tapper
        background      green
        width           80%
        height          80%
        margin          auto
        padding         10%
    .playing, .waiting
        display         none
        position        absolute
        top             -20%
        left            0%
        opacity         0
        width           80%
        height          80%
        padding         10%
        background      $red url($red_pattern) repeat
        transition      .5s all
        font-size       130%

        &.show
            display     block
            top         0%
            opacity     1