#sideline
	background 				url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAO0lEQVQYV2P00hP9zwAEDsrcIIrhwN2vYBqdz0i0wq5ABbCJuEyCmcxItEKirSZaIdFWE62QaKuJVQgAji1NO0/1Ts0AAAAASUVORK5CYII=') repeat
	height 					100%
	width 					15%
	float 					left

	h2
		font-size 			300%
		color 				$white
		opacity 			.2
		width 				200%
		margin-top 			200%
		margin-left 		-22%
		float 				left
		transform 			rotateZ(-90deg)

	.trees
		background 			url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAATUlEQVQYV2MUzlP9z4ADWEcyMBxdDpFkxKYQpAAGsCpEVoBVITYFGAr9jmN3o/mkF3Dr+0QlIG4kykRkzxB0I3roEPQ1Ng14wxFb+AMAfi4jfXbBivAAAAAASUVORK5CYII=') repeat
		width 				90%
		height 				100%