#sideline
    background              url($dirt) repeat
    height                  100%
    width                   15%
    float                   left

    h2
        font-size           300%
        color               $white
        opacity             .2
        width               200%
        margin-top          200%
        margin-left         -22%
        float               left
        transform           rotateZ(-90deg)

    .trees
        background          url($trees) repeat
        width               90%
        height              100%