<h1 id='row' class='none'>ROW</h1>

<div class='boat'>
    <div class='head'>
        <div class='one'></div>
        <div class='two'></div>
        <div class='three'></div>
        <div class='four'></div>
        <div class='five'></div>
    </div>

    <div class='name'>Your Boat</div>

    <div class='people'>
    </div>

    <div class='ass'>
        <div class='one'></div>
        <div class='two'></div>
        <div class='three'></div>
        <div class='four'></div>
        <div class='five'></div>
    </div>
</div>