<div id='watching'>

    <div id='waiting'>Thanks for Playing, Waiting for Next Game</div>

    <div id='checkered_flag'>
        <div class='wrap'>
            <div class='flag'></div>
            <div class='pole'></div>
        </div>
    </div>
    
    <div id='sideline'>
        <div id='monster'></div>
        <div class='trees'></div>
    </div>

    <div id='countdown'>
        <div class='waiting'>Waiting...</div>
    </div>

    <div id='starting_line'></div>
    <div id='finish_line'></div>
</div>

<div id='overview'>
    <div id='stats'></div>
    <div id='preview'>
        <div class='markers'>
            <div class='marker'>
                <div class='value'>0</div>
                <div class='line'></div>
            </div>
            <div class='marker'>
                <div class='value'>20</div>
                <div class='line'></div>
            </div>
            <div class='marker'>
                <div class='value'>40</div>
                <div class='line'></div>
            </div>
            <div class='marker'>
                <div class='value'>60</div>
                <div class='line'></div>
            </div>
            <div class='marker'>
                <div class='value'>80</div>
                <div class='line'></div>
            </div>
            <div class='marker'>
                <div class='value'>100</div>
                <div class='line'></div>
            </div>
        </div>
        <div id='boats'></div>
    </div>
    <iframe src="http://nodeknockout.com/iframe/team-name" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>
</div>