extends layout

block content
    
    #watching

        #sideline
            #monster
            .trees

        #countdown Waiting...

        #starting_line

    #overview

        #stats
            h2 Stats
            .stat
                span.key MPH
                span.value 23mph
            .stat
                span.key Distance
                span.value 18.23 miles
            .stat
                span.key Manitees Destroyed
                span.value 3
            .stat
                span.key Success %
                span.value 37%

        #preview
            .markers
                .marker
                    .value 0
                    .line
                .marker
                    .value 20%
                    .line
                .marker
                    .value 40%
                    .line
                .marker
                    .value 60%
                    .line
                .marker
                    .value 80%
                    .line
                .marker
                    .value 100%
                    .line
            #boats