block vars
    - var bodyID = 'login'

extends layout

block content

    header.intro
        .ore
            .handle
            .paddle
        .ore
            .handle
            .paddle
        .trees
            h1 Row Bro!

    section.main

        .left
            h2 Current Races

            .current_races

                .race
                    .name Some Race
                    .location Kansas City, MO - USA
                    .code 17532

            h2 Current Teams

            .current_teams

                .team
                    .name Some Race
                    .location Kansas City, MO - USA
                    .code 17532
                .game
                    .name Some Race
                    .location Kansas City, MO - USA
                    .code 17532


        .right
            .explain
                p Row Bro is a multiplayer rowing game powered by Node and WebSockets. Visit Row Bro's homepage with a mobile device, then pair your device with this machine to start playing.

            .login
                input(placeholder='5 Digit Code', maxlength="5", minlength="5")
                a.btn(href='#') OK
            
    footer
        .trees
            p 
                iframe( src="http://nodeknockout.com/iframe/team-name", frameborder=0, scrolling="no", allowtransparency=true, width=115, height=25)
