extends layout

block content
    
    #watching

        #sideline
            .trees

        h1#row.none ROW

        #countdown 3
        #starting_line

        .boat.four.start

            .head
                .one
                .two
                .three
                .four
                .five

            .people
                .person
                    .ore
                        .handle
                        .paddle
                .person
                    .ore.right
                        .handle
                        .paddle
                .person
                    .ore
                        .handle
                        .paddle
                .person
                    .ore.right
                        .handle
                        .paddle
            .ass
                .one
                .two
                .three
                .four
                .five

    #overview

        #stats
            h2 Stats
            .stat
                span.key MPH
                span.value 23mph
            .stat
                span.key Distance
                span.value 18.23 miles
            .stat
                span.key Manitees Destroyed
                span.value 3
            .stat
                span.key Success %
                span.value 37%

        #competition
            .markers
                .marker
                    .value 0
                    .line
                .marker
                    .value 20%
                    .line
                .marker
                    .value 40%
                    .line
                .marker
                    .value 60%
                    .line
                .marker
                    .value 80%
                    .line
                .marker
                    .value 100%
                    .line
            #boats
                .preview_boat
                .preview_boat
                .preview_boat
                .preview_boat
                .preview_boat