extends layout

block content

    .boat.four
        .head
            h1 The Farts
            .block
            .block
            .block
        .people
            .person
                .ore
                    .handle
                    .paddle
            .person
                .ore
                    .handle
                    .paddle
            .person
                .ore
                    .handle
                    .paddle
            .person
                .ore
                    .handle
                    .paddle