extends layout

block content
    
    #watching

        #sideline
            #monster
            .trees

        #countdown Waiting...

        #starting_line

    #overview

        #stats

        #preview
            .markers
                .marker
                    .value 0
                    .line
                .marker
                    .value 20%
                    .line
                .marker
                    .value 40%
                    .line
                .marker
                    .value 60%
                    .line
                .marker
                    .value 80%
                    .line
                .marker
                    .value 100%
                    .line
            #boats