!!! 5
html
    head
        title Row Bro
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        != SocketStream

        block head

    block vars

    if (typeof(bodyID) != 'undefined') && (typeof(bodyClass) != 'undefined')
        body(id='#{bodyID}', class='#{bodyClass}')
    else if (typeof(bodyID) != 'undefined')
        body(id='#{bodyID}')
    else if (typeof(bodyClass) != 'undefined')
        body(class='#{bodyClass}')
    else
        body
    
    block content