extends layout

block content

    header.intro
        .trees
            h1 Row Bro!

    section.main
        .left
            h2 Current Games

            .current_games

                .game
                    a.btn(href='#') Join
                    .name Some Game
                    .location Kansas City, MO - USA
                    .code 17532
                .game
                    a.btn(href='#') Join
                    .name Some Game
                    .location Kansas City, MO - USA
                    .code 17532
                .game
                    a.btn(href='#') Join
                    .name Some Game
                    .location Kansas City, MO - USA
                    .code 17532
                .game
                    a.btn(href='#') Join
                    .name Some Game
                    .location Kansas City, MO - USA
                    .code 17532

        .right
            .explain
                p Row Bro is about to blow YOUR FUCKING MIND. Take your mobile device and act like you're using it to jerk off to the beat of a row coach's call. 

            form.login
                input(placeholder='Your 5 Digit Code', maxlength="5", minlength="5")
                button.btn Ok

            .or OR

            .create_game
                a.btn(href='#') Create a Game

    footer
        .trees
            p Weeee!