block vars
    - var bodyID = 'remote'

extends layout

block content
    header.intro
        .trees
            h1 Row Bro!

    section.main

        h2 Your Room Code is
            span.code Generating...

        a.btn.start(href='#') Start

        .waiting
            p Waiting for game to start
            p.reminder
            p (controller code)
        .playing.color
            h2 Now Racing!
            .tapper 
                p Tap or swing phone to row