block vars
    - var bodyID    = 'login'
    - var bodyClass = 'mobile'

extends login

block main

    h2 Your Room Code is
        span.code Generating...

    a.btn.start(href='#') Start

    .waiting.modal
        p Waiting for game to start
        //h3 x
    .playing
        p Now Playing, your color is
            span.color