block vars
    - var bodyID    = 'login'
    - var bodyClass = 'mobile'

extends login

block main

    h2 Your Room Code is
        span.code= 12345
    p Tune into "http://rowbro.com/#{12345}" to watch

    a.btn.start(href='#') Start

    .waiting.modal
        p Waiting for game to start
        h3 x

    script(type="text/javascript") 
        ss.server.on('ready', function(){
            remote = new Remote()
        });