body#login.desktop

    section.main
        height          100%
        width           960px
        margin          50px auto

        .right
            float       right
            width       50%
            .btn
                font-size 250%
            input
                width   75%

        .login
            .btn
                float   right

        .or
            font-size   500%
            text-align  center
            color       $white
            text-shadow 3px 3px 0px $red
            margin      30px auto

        .explain
            margin-bottom 35px
            color       $white
            line-height 130%

        .rando
            font-size   300%
            color       $white
            text-shadow 3px 3px 0px $red

        .left
            width       40%
            float       left

            h2
                color       $white
                font-size   200%
                margin-bottom 20px

            .current_games
                background  $white
                box-shadow  5px 5px 0 rgba(255,255,255,.5)
                padding     10px

                .game
                    margin-bottom 20px
                    font-size 120%
                    &:last-child
                        margin-bottom 0
                    overflow hidden
                .name
                    margin-bottom 3px
                .location
                    font-style italic
                    font-size 80%
                .code
                    color   $red
                    font-size 80%
                .btn
                    float   right
                    margin-right 10px

        #create_game
            width 100%
            text-align center