body#login.mobile

    section.main
        margin      20px auto
        width       80%
        text-align  center

    h2
        color       $white
        font-size   150%

    .code
        display     block
        color       $red

    p
        color       $white