#sideline
    position                relative
    background              url($dirt) repeat
    height                  100%
    width                   15%
    float                   left
    border-right            2px solid $white

    iframe
        position            absolute
        top                 60px
        left                10px
        transform           rotateZ(90deg)

    .trees
        background          url($trees) repeat
        width               90%
        height              100%

    #monster
        top                 100%
        left                10%
        position            absolute
        background-color    red
        width               20px
        height              20px
        transition          5s top linear

        &.walk
            border          5px solid yellow